{% extends 'base.twig'%}
        {%block title%}
Frisdrankautomaat
        {%endblock%}
{%block header%}
<div class="container">
    <h1>Frisdrankautomaat</h1>
</div>
{%endblock header%}
{%block content%}

<!-- Automaat -->
<div id="automaat">
    <div>
        <!-- imgmap -->
        <img class="imgmap" alt="vendingmachine" src="img/vendingmachine.jpg" usemap="#vendingmachine" height="600" width="600">
        <map name="vendingmachine">
                    {% for frisdrank in frisdranken %}
                        {%if frisdrank.aantal!=0%}
            <!-- aanwezig -->
            <area id="{{frisdrank.id}}" name="{{frisdrank.type}}" title="{{frisdrank.type}}" shape="rect" coords="{{frisdrank.coords}}" href="automaatcontroller.php?action=kopen&id={{frisdrank.id}}&prijs={{frisdrank.prijs}}&type={{frisdrank.type}}" >

                        {%endif%}
                    {% endfor %}
            <area shape="rect" alt="admintoegang" id="admintoegang" title="admin toegang" coords="394,93,427,133" href="adminlogin.php"/>
            <area shape="circle" alt="geld terug" id='geldterug' title="geld terug" coords="394,185,5" href="automaatcontroller.php?action=geldterug"/>
            <area shape="rect" id="ingave" alt="steek hier je geld" title="steek hier je geld" coords="410,170,430,200" href=""/>
        </map>


    </div>
</div>


<!-- LEEG indicator -->
<div class="leegholder"> 

</div>

<!-- saldolabel -->
<label  id="saldo"> 0.00 </label>





<!-- invullen met Jquery -->

<!-- geldknoppen -->
<div class='portefeuille'>
    <div class="muntenholder">
        <label>Click a coin or drag it to the coinslot</label>
    </div>
</div>






<!-- errorrmsg -->
<div id="errorholder"></div>

            {% if error is defined %}
                {% if error=="drankop" %}
<p class="error">de drank die je koos is op</p>
                {%elseif error=="telaagsaldo"%}
<p class="error">niet genoeg geld ingegeven</p>
                {%elseif error=="geenwisselgeld"%}
<p class="error">niet genoeg wisselgeld! Gepast betalen!!!</p>
                {% endif %}
            {% endif %}

<div id="canimgholder" class="canimgholder" ></div>
<!-- teruggave overzicht -->

        {%endblock%}

{% block scripts%}
<script src="js/vendor/jquery/js/jquery-1.11.1.js"></script>
<script src="js/vendor/jquery/development-bundle/ui/jquery.ui.core.js"></script>
<script src="js/vendor/jquery/development-bundle/ui/jquery.ui.widget.js"></script>
<script src="js/vendor/jquery/development-bundle/ui/jquery.ui.mouse.js"></script>
<script src="js/vendor/jquery/development-bundle/ui/jquery.ui.draggable.js"></script>
<script>
    //jsonAJAX leverancier in servicelaag
    //met jquery, javascript leverancier aanspreken
    // en gegevens tonen


    $(function() {//doc onload start
        //ajax call voor gegevens van de automaat
        applicationdata = $.getJSON("ajaxcontroller.php", null, function(result) {
            //opbouw weergave van munten
            for (var i in result['munten']) {
                var $a = $('<a>');//href want krijgt onclick eventhandler
                //toevoegen van link in geval dat javascript niet actief is
                $a.attr('href', "automaatcontroller.php?action=steekgeldin&id=" + result['munten'][i].id)
                var $div = $('<div>');
                $div.addClass("muntdiv");
                var $img = $('<img>');
                $img.addClass("muntimg").attr('src', "img/" + result['munten'][i].waarde + ".png").attr('id', result['munten'][i].id);
                $div.append($img);
                $a.append($div).insertBefore($('.muntenholder label'));
            }

            //opbouw voor dranken in drankautomaat
            var leegholderHTML = '';
            for (var i in result['dranken']) {
                var $area = $('<area>')
                $area.attr('id', result['dranken'][i].id).attr('class', 'drankknop').attr('prijs', result['dranken'][i].prijs).attr('title', result['dranken'][i].type).attr('name', result['dranken'][i].type).attr('shape', "rect").attr('coords', result['dranken'][i].coords).attr('href', "automaatcontroller.php?action=kopen&id=" + result['dranken'][i].id + "&prijs=" + result['dranken'][i].prijs + "&type=" + result['dranken'][i].type).appendTo($('map'));
                if (result['dranken'][i].aantal == 0) {
                    leegholderHTML += "<label class='leeg'>LEEG</label>"
                }
                else {
                    leegholderHTML += "<label class='leeg'></label>"
                }
            }

            $('.leegholder').html(leegholderHTML);

            //saldoweergave fresh start MISSCHIEN OVERBODIG ge begint by nul dus?
            saldo = result['saldo'];


        }).done(function() {
            console.log("automaat opgestart")
        }).fail(function() {
            console.log("automaat niet opgestart")
        });
    });//einde onload

    $("#geldterug").click(function(e) {
        e.preventDefault();
        for (var i in saldo.munten) {
            saldo.munten[i] = 0;
            $('#saldo').html("0.00");
        }
    })


    //functionaliteit voor toevoegen van munten aan saldo 
    $('.muntenholder').on('click', 'a', function(e) {
        //verhinderen van navigatie op link    
        e.preventDefault();
        //saldo bijvoegen via javascript
        for (var i in saldo.munten) {
            if (i == e.target.id) {
                saldo.munten[i] += 1;//saldo is passed by reference??
                //
                //applicationdata.responseJSON.saldo.munten[i]+=1
            }
        }
        var totaalsaldo = berekenTotaalSaldo(saldo.munten);
        $('#saldo').html(parseFloat(totaalsaldo / 100).toFixed(2));

    });











//functionaliteit voor aankopen van drank
    $('#automaat').on('click', '.drankknop', function(e) {
        //console.log(applicationdata.responseText)
        e.preventDefault();
        applicationdata.responseJSON.aankoopdrankid = e.target.id;
        applicationdata.responseJSON.aankoopdrankprijs = e.target.getAttribute('prijs');
        //$.getJSON("ajaxcontroller.php","saldo="+applicationdata.responseJSON.saldo+"&id="+applicationdata.responseJSON.aankoopdrankid+"&prijs="+applicationdata.responseJSON.aankoopdrankprijs,function(data) {
        $.getJSON("ajaxcontroller.php",applicationdata.responseJSON,function(data) {
            console.log("antwoord" + data);
            $.each(data, function(key, val) {
                console.log(key + " " + val);
            })

            if (typeof data['error'] === "undefined") {
                //serviocelaag heeft geen rrors opgeworpen dus kunnen e verder
                console.log(data)
            }
            else {
                //errorafhandeling

                $('#errorholder').data['error']
            }
        }).done(function() {
            console.log('yay it worked')
        }).fail(function() {
            console.log('fk it failed')
        })


        //$('#automaat').on('click', 'area', function(e) {
        //ajaxcall
        /*  $.getJSON("ajaxcontroller.php", "id=" + e.target.id + "&type=" + e.target.title + "&prijs=" + e.target.getAttribute('prijs'), function(result) {
         console.log(result);
         if (typeof result['error'] === 'undefined') {
         // geen errors dus geldge aankoop   
         
         
         $('<table id="teruggave" class="teruggave">').appendTo('body');
         var teruggaveHTML = '';
         for (var i in result['teruggave']) {
         teruggaveHTML += "<tr><td>" + result['teruggave'][i] + "</td><td>X</td><td><div class= 'muntdiv' ><img  class='muntimg' src= 'img/" + i + ".png'></div></td></tr>";
         }
         $('#teruggave').html(teruggaveHTML);
         $("#canimgholder").html('<img src="img/' + result['dranktype'] + '.png">');
         }
         else {
         ///errorhandling
         
         //errorcode checken en dan de het overeenkomend bericht tonen
         //errorcontainer aanmaken
         for (var i in result['error']) {
         console.log(result['error'][i])
         }
         var errorHTML = '';
         $('#errorholder').html(errorHTML);
         }
         
         })*/
    });

    $('#admintoegang').click(function() {
        self.location.href = "adminlogin.php"
    });
//hulpfuncties

    function berekenTotaalSaldo(saldo) {
        var totaalsaldo = 0;
        for (var i in saldo) {
            totaalsaldo += i * saldo[i];
        }
        return totaalsaldo;
    }
</script>
{%endblock%}