{% extends 'base.twig'%}
        {%block title%}
Frisdrankautomaat
        {%endblock%}
{%block header%}
<div class="container">
    <h1>Frisdrankautomaat</h1>
</div>
{%endblock header%}
{%block content%}

<!-- Automaat -->
<div id="automaat">
    <div>
        <!-- imgmap -->
        <img class="imgmap" alt="vendingmachine" src="img/vendingmachine.jpg" usemap="#vendingmachine" height="600" width="600">
        <map name="vendingmachine">
                    {% for frisdrank in frisdranken %}
                        {%if frisdrank.aantal!=0%}
            <!-- aanwezig -->
       {#     <!--      <area id="{{frisdrank.id}}" name="{{frisdrank.type}}" title="{{frisdrank.type}}" shape="rect" coords="{{frisdrank.coords}}" href="automaatcontroller.php?action=kopen&id={{frisdrank.id}}&prijs={{frisdrank.prijs}}&type={{frisdrank.type}}" > -->#}

                        {%endif%}
                    {% endfor %}
            <area shape="rect" alt="admintoegang" title="admin toegang" coords="394,93,427,133" href="adminlogin.php"/>
            <area shape="circle" alt="geld terug" title="geld terug" coords="394,185,5" href="automaatcontroller.php?action=geldterug"/>
            <area shape="rect" id="ingave" alt="steek hier je geld" title="steek hier je geld" coords="410,170,430,200" href=""/>
        </map>


    </div>
</div>


<!-- LEEG indicator -->
<div class="leegholder"> {%for frisdrank in frisdranken%}
    {%if frisdrank.aantal==0%}
    <label class="leeg">LEEG</label> 
    {%else%}
    <label class="leeg"></label> 
{%endif %}
{%endfor%}</div>

<!-- saldolabel -->
<label  id="saldo">  {{(totaalsaldo/100)|number_format(2, '.', ',')}}</label>





<!-- invullen met Jquery -->

<!-- geldknoppen -->
<div class='portefeuille'>
    <div class="muntenholder">
        <label>Click a coin or drag it to the coinslot</label>
    </div>
</div>






<!-- errorrmsg -->
            {% if error is defined %}
                {% if error=="drankop" %}
<p class="error">de drank die je koos is op</p>
                {%elseif error=="telaagsaldo"%}
<p class="error">niet genoeg geld ingegeven</p>
                {%elseif error=="geenwisselgeld"%}
<p class="error">niet genoeg wisselgeld! Gepast betalen!!!</p>
                {% endif %}
            {% endif %}
        {% if gekozendrank is not null %}
<div id="canimgholder" class="canimgholder" style="display:inline-block"><img src="img/{{gekozendrank}}.png"> </div>
<!-- teruggave overzicht -->
      {% if teruggave is not null %}
<table border="1" class="teruggave">
    <tr><th colspan="3"  >
            Teruggave</th></tr>
                  {% for key,aantal in teruggave %}
    <tr>
        <td><pre> {{aantal}} x </pre></td><td><img class= "muntimg" src="img/{{key}}.png"></td>

    </tr>
                {%endfor%}
</table>
    {%endif%}

{%endif%}
<div id="testdiv"></div>
        {%endblock%}

{% block scripts%}
<script src="js/vendor/jquery/js/jquery-1.11.1.js"></script>
<script src="js/vendor/jquery/development-bundle/ui/jquery.ui.core.js"></script>
<script src="js/vendor/jquery/development-bundle/ui/jquery.ui.widget.js"></script>
<script src="js/vendor/jquery/development-bundle/ui/jquery.ui.mouse.js"></script>
<script src="js/vendor/jquery/development-bundle/ui/jquery.ui.draggable.js"></script>
<script>
    /* $(function() {
     //<editor-fold defaultstate="collapsed" desc="Muntinteractie">
     var bool = false;
     var eCan = document.getElementById('canimgholder');
     if (eCan) {
     eCan.onclick = function() {
     location.href = "automaatcontroller.php";
     }
     }
     
     $(".muntimg").draggable({
     containment: "body",
     revert: function() {
     //of moet terugkeren naar startpositie of niet  
     },
     });
     $(".muntimg").mouseup(
     function() {
     console.log($(this).attr('id'));
     console.log($(this).position()['left'])
     if ($(this).position()['top'] > -490 && $(this).position()['top'] < -450) {
     switch ($(this).attr('id')) {
     case '10':
     if ($(this).position()['left'] > 170 && $(this).position()['left'] < 210) {
     self.location.href = "automaatcontroller.php?action=steekgeldin&id=" + $(this).attr('id');
     }
     break;
     case "20":
     if ($(this).position()['left'] > 140 && $(this).position()['left'] < 180) {
     self.location.href = "automaatcontroller.php?action=steekgeldin&id=" + $(this).attr('id');
     }
     break;
     case "50":
     if ($(this).position()['left'] > 105 && $(this).position()['left'] < 145) {
     self.location.href = "automaatcontroller.php?action=steekgeldin&id=" + $(this).attr('id');
     }
     break;
     case "100":
     if ($(this).position()['left'] > 70 && $(this).position()['left'] < 110) {
     self.location.href = "automaatcontroller.php?action=steekgeldin&id=" + $(this).attr('id');
     }
     break;
     case "200":
     if ($(this).position()['left'] > 40 && $(this).position()['left'] < 80) {
     self.location.href = "automaatcontroller.php?action=steekgeldin&id=" + $(this).attr('id');
     }
     break;
     
     }
     // alert(1)
     }
     }
     
     );
     //</editor-fold>
     
     
     });*/

    //jsonAJAX leverancier in servicelaag
    //met jquery, javascript leverancier aanspreken
    // en gegevens tonen


    $(function() {





        //ajax call voor gegevens nu enkel nog munten en dranken
        $.getJSON("ajaxcalls.php", {}, function(result) {

            //referentie naar saldo
            var saldo = result['saldo'];

            console.log(result['saldo']['munten'])
            for (var prop in result) {
                console.log("propnaam" + prop + "\n" + $(this)[prop]);
            }
            //opbouw weergave van munten
            for (var i in result['munten']) {
                // console.log(result['munten'][i])
                var $a = $('<a>');//href want krijgt onclick eventhandler
                //toevoegen van link in geval dat javascript niet actief is
                $a.attr('href', "automaatcontroller.php?action=steekgeldin&id=" + result['munten'][i].id)

                var $div = $('<div>');
                $div.addClass("muntdiv");
                var $img = $('<img>');
                $img.addClass("muntimg").attr('src', "img/" + result['munten'][i].waarde + ".png").attr('id', result['munten'][i].id);
                $div.append($img);
                $a.append($div).insertBefore($('.muntenholder label'));
            }

            /*    //opbouw voor dranken in drankautomaat
             for (var i in result['dranken']) {
             var $area = $('<area>')
             $area.attr('title', result['dranken'][i].type).attr('shape', "rect").attr('coords', result['dranken'][i].coords).attr('href', "automaatcontroller.php?action=kopen&id=" + result['dranken'][i].id + "&prijs=" + result['dranken'][i].prijs + "&type=" + result['dranken'][i].type).appendTo($('map'));
             }
             $('#automaat').on('click', 'area', function(e) {
             e.preventDefault();
             //ajaxcall
             })*/
            $('.muntenholder').on('click', 'a', function(e) {

                e.preventDefault();
                console.log(e.target.id)

//ajaxcall

                $.getJSON("ajaxcalls.php", "id=" + e.target.id, function(result) {
                    //saldo vermeerderen waar id overeenkomt
                    console.log(result);
                })
            })

        });
    });//einde onload


</script>
{%endblock%}